.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #ff3300 0%, #ff6666 100%);
  color: white;
  
}

.signup-parentBox {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 4px;
  background: linear-gradient(to right, #000000 0%, #080808 100%);  
}

.signup-heading {
  font-size: 30px;
  font-weight: bold;
  padding: 1rem;
  padding-top: 2rem;
  font-family: "ghell";
  letter-spacing: 0.3rem;
}

.signup-form {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.signup-input {
  font-size: 16px;
  width: 280px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border:0;
}

.signup-passwordBox {
  display: flex;
  align-items: center;
}
.signup-password-eye {
  font-size: 30px;
  margin-left: -40px;
  color: grey;
  cursor: pointer;
}
.signup-inputLabel {
  font-size: 18px;
  padding: 0.2rem;
  font-family: "outfit";
  margin-top: 0.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.signup-button {
  font-size: 20px;
  padding: 10px 30px;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(to top right, #ff3300 0%, #ff6666 100%);  color: black;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0px;
  border:0;
  color: white;
  font-family: "outfit";
  letter-spacing: 0.1rem;
}




.signup-bottomText {
  margin: auto;
  font-family: "outfit";
}
.signup-bottomText > span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 375px) {
  .signup-parentBox {
    padding: 10px 20px;
  }
}
